@import 'variables';

body {
  background: #141414;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  font-weight: 500;
}

.flex {
  display: flex;
  flex-direction: var(--flex-direction, row);
  gap: var(--gap, 1rem);
}
